@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  background: hsl(210deg, 60%, 98%);
  color: hsl(219deg, 12%, 42%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 1.5em;
}
@media only screen and (max-width: 435px) {
  body {
    min-width: 375px;
    padding: 0;
  }
}

#app {
  max-width: 700px;
  margin: auto;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1.5em;
  border-radius: 15px;
  box-shadow: 0 0 20px -15px hsl(219deg, 14%, 63%);
}
@media only screen and (max-width: 435px) {
  #app {
    width: 100%;
    margin: 0;
  }
}

h1 {
  font-weight: 800;
  color: hsl(224deg, 21%, 14%);
  font-size: 1.4em;
}

button {
  color: hsl(219deg, 12%, 42%);
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: none;
  border: none;
}

strong {
  font-weight: 800;
  color: hsl(224deg, 21%, 14%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.notifications__container {
  display: flex;
}

.notif__number {
  background: hsl(219deg, 85%, 26%);
  color: hsl(0deg, 0%, 100%);
  font-size: 0.95em;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-left: 0.7em;
}

.button__read button {
  transition: color 0.25s;
}
.button__read button:hover {
  color: hsl(219deg, 85%, 26%);
  cursor: pointer;
}

.main__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.profil__container {
  display: flex;
  align-items: flex-start;
  padding: 1em;
  background: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  transition: box-shadow 0.1s, background 0.1s;
}
.profil__container:hover {
  background: hsl(210deg, 60%, 98%);
  box-shadow: 0 0 4px 1px hsl(211deg, 68%, 94%);
}
.profil__container p {
  line-height: 1.3em;
}

.background {
  background: hsl(210deg, 60%, 98%);
}

.profil__img {
  width: 3em;
  margin-right: 1em;
}
.profil__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.profil__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.8em;
  align-items: flex-start;
}

.profil__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  row-gap: 0.3em;
  margin-top: 0.05em;
}

.description__box {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}

.profil__pic {
  width: 3em;
  margin-left: 1em;
  border-radius: 8px;
  transition: box-shadow 0.25s;
}
.profil__pic:hover {
  box-shadow: 0 0 0 3px hsl(211deg, 68%, 94%);
  cursor: pointer;
  border-radius: 8px;
}
.profil__pic img {
  width: 3em;
}

.profil__text p {
  position: relative;
}
.profil__text p strong {
  margin-right: 0.5em;
  transition: color 0.25s;
}
.profil__text p strong:hover {
  color: hsl(219deg, 85%, 26%);
  cursor: pointer;
}
.profil__text p a {
  color: hsl(219deg, 12%, 42%);
  font-weight: 800;
  margin-left: 0.5em;
  transition: color 0.25s;
}
.profil__text p a:hover {
  color: hsl(219deg, 85%, 26%);
  cursor: pointer;
}

.red__dot {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 0.5em;
  background: hsl(1deg, 90%, 64%);
  border: 4.5px solid hsl(1deg, 90%, 64%);
  border-radius: 4.5px;
}

.link__important {
  color: hsl(219deg, 85%, 26%) !important;
}

.link__hidden {
  display: none;
}

.profil__comment {
  border-radius: 10px;
  padding: 1em;
  border: 1px solid hsl(211deg, 68%, 94%);
  transition: background 0.25s;
}
.profil__comment:hover {
  background: hsl(205deg, 33%, 90%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
